<!DOCTYPE html>
<html>
<body>

<h2 style="font-size:300%; ">Energy Profiles of individual residences:</h2>
<img src="/static/all.png" alt="Energy Profiles of all individual houses:" style="width:608px;height:456px;" >

<h3 style="font-size:300%; ">Energy Profile of all residences:</h3>
<img src="/static/total.png" alt="Energy Profiles of all individual houses:" style="width:608px;height:456px;" >

<h4 style="font-size:300%;">Energy Profiles of 8 of characteristic curves:</h4>
<img src="/static/optimal.png" alt="Energy Profiles of optimal number of characteristic curves:" style="width:608px;height:456px;" >

</body>
</html>